// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: $light-gray !important;
  padding: 50px 0 !important;
}

.list {
  margin: 0;
  Margin: 0;
  padding: 0;
  padding-left: 16px;
}

.list__item {
    margin-bottom: 3px;
    Margin-bottom: 3px;
}

@include b(container) {

  &.logo {
    background: $body-background;
  }
  &.header {
    background: $white;
    border-bottom: none;
  }
  &.section-action {
    background: $white;
    border-bottom: none;
  }
  &.section-primary {
    background: $white;
    border-bottom: none;
  }
  &.section-secondary {
    background: $white;
    border-bottom: none;
  }
  &.section-tertiary {
    background: $white;
    border-bottom: none;
  }
  &.section-footer {
    background: $body-background;
  }

} //.container

@include b(logo) { 
  @include e(image) {
    width: auto !important;
    height: 21px !important;
  }
} //.logo

@include b(header) {
} //.header

@include b(section-primary) {
  p {
    color: $dark-gray;
    font-size: 24px;
    line-height: 32px;
  }
} //.section-primary

@include b(section-secondary) {
  p {
    color: $medium-gray;
    font-size: 14px;
    line-height: 20px;
  }
} //.section-secondary

@include b(section-tertiary) {
  p {
    color: $medium-gray;
    font-size: 10px;
    line-height: 16px;
  }
} //.section-tertiary

@include b(divider) {
  height: 1px;
  background-color: $border-color;
}