---
layout: default
subject: Дорогой, пользователь 👋 Благодарим вас за регистрацию! Для продолжения, подтвердите вашу почту.
---

<container class="header">
  <row>
    <columns class="header__column" small="12" large="12">
        <spacer size="50"></spacer>
        <img class="logo__image" src="{{ROOT}}/assets/img/logo.jpg" alt="e-shanyraq.kz">
        <spacer size="25"></spacer>
    </columns>
  </row>
</container>
<!-- END .header -->

<container class="section-primary">
  <row>
    <columns class="section-primary__column" small="12" large="12">
      <p>
        Дорогой, пользователь 👋
      </p> 
      <p>
        Благодарим вас за регистрацию! Для продолжения, подтвердите вашу почту.
      </p>
    </columns>
  </row>
</container>
<!-- END .section-primary -->

<container class="section-action">
  <row>
    <columns class="section-action__primary" small="12" large="12">
      <spacer size="18"></spacer>
        <button class="primary radius button" href="#">
          Подтвердить
        </button>
      <spacer size="26"></spacer>
    </columns>
  </row>
</container>
<!-- END .section-action -->

<container class="section-secondary">
  <row>
    <columns class="section-secondary__column" small="12" large="12">
      <p>
        Ссылка подтверждения будет активна в течении 5 дней.
      </p>
      <spacer size="23"></spacer>
      <p class="divider"></p>
    </columns>
  </row>
</container>
<!-- END .section-secondary -->

<container class="section-tertiary">
  <row>
    <columns class="section-tertiary__column" small="12" large="12">
      <spacer size="16"></spacer>
      <p>
        В случае возникновения вопросов, перейдите по этой ссылке. Мы развиваемся, и готовы рассмотреть любые предложения. Напишите нам и мы в кратчайшие сроки ответим вам.
      </p>
      <spacer size="22"></spacer>
      <p>
        © 2019 Все права защищены
      </p>
      <spacer size="71"></spacer>
    </columns>
  </row>
</container>
<!-- END .section-tertiary -->

{{> _footer }}

<spacer size="16"></spacer>

