<container class="logo">
  <row>
    <columns class="logo__column" small="12" large="12">
      <center>
        <spacer size="30"></spacer>
        <img class="logo__image" src="https://kompra.kz/assets/img/logo.jpg" alt="kompra.kz">
        {{!-- Remember to use FULL PATH to images, not relative paths. 
        (e.g. http://www.yourserver.kz/email/assets/img/logo.jpg). --}}
        <spacer size="20"></spacer>
      </center>
    </columns>
  </row>
</container>
<!-- END .logo -->